name: Format Frontend (Prettier)

on:
  push:
    branches: [main]
    paths:
      - "frontend/**"
      - ".github/workflows/prettier.yml"
  pull_request:
    paths:
      - "frontend/**"
      - ".github/workflows/prettier.yml"

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        working-directory: ./frontend
        run: bun install --no-progress

      - name: Run Prettier
        working-directory: ./frontend
        run: bun run format:check
